<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Login</title>

  
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>

<body class="bg-light">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-body p-4">
                    <h3 class="text-center mb-4 text-success font-weight-bold">Admin Login</h3>

                
                    <p th:if="${error}" id="errorMsg" 
                       class="text-danger text-center font-weight-bold"
                       th:text="${error}"></p>

                    <form th:action="@{/admin/login}" method="post">
                        <div class="form-group">
                            <label class="font-weight-bold">Username</label>
                            <input type="text" name="username" class="form-control" placeholder="Enter username" required>
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Enter password" required>
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>
